.git
.github
.idea
.vscode
.DS_Store

**/__pycache__/
**/*.py[cod]
**/*.egg-info/
**/.pytest_cache/
**/.mypy_cache/

**/node_modules/
web_ui/dist/
web_ui/coverage/

docker/data/
docker/log/
dist/
models/
logs/
*.log
*.tar

.env
.env.*
!.env.example
